
.footer {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  .footer-section {
    flex-grow: 1;
    padding: 10px; 
  }
  

  .separator {
    height: 30px;
    width: 1px;
    background-color: #000;
    margin: 0 10px; 
  }
 
  @media (min-width: 768px) {
    .footer-section {
      width: 48%; 
    }
  }
  

  @media (max-width: 767px) {
    .footer-section {
      width: 100%; 
      margin-bottom: 10px; 
    }
  }
  