@charset "UTF-8";
* {
  font-family: "Mina", sans-serif;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  background-color: #000;
  opacity: 0.7;
  border-radius: 15px;
}

.footer-section {
  flex-grow: 1;
  padding: 10px;
}

.separator {
  height: 30px;
  width: 1px;
  background-color: #000;
  margin: 0 10px;
}

@media (min-width: 768px) {
  .footer-section {
    width: 48%;
  }
}
@media (max-width: 767px) {
  .footer-section {
    width: 100%;
    margin-bottom: 10px;
  }
}
.contact-form {
  width: 80%;
  padding: 30px;
  margin: 40px;
  border: 6px solid rgba(0, 0, 0, 0.3);
  box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  position: relative;
}
.contact-form h2 {
  color: rgba(0, 0, 0, 0.3);
  font-size: 60px;
  text-transform: uppercase;
}
.contact-form .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 30px;
}
.contact-form .left-column,
.contact-form .right-column {
  flex: 0 0 48%;
}
.contact-form input,
.contact-form textarea,
.contact-form select {
  width: 100%;
  background: transparent; /* Fond transparent */
  outline: none;
  font-size: 24px;
  padding: 10px 0 10px 20px;
  border: 5px solid transparent; /* Bordure transparente au départ */
  box-shadow: 10px 10px 0 transparent; /* Ombre transparente au départ */
  color: #ffffff;
  border-radius: 50px;
  transition: all 0.4s; /* Transition pour l'animation */
}
.contact-form input:focus,
.contact-form textarea:focus,
.contact-form select:focus {
  border: 5px solid rgba(0, 0, 0, 0.3); /* Bordure lorsqu'en focus */
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3); /* Ombre lorsqu'en focus */
}
.contact-form label {
  line-height: 40px;
  color: black;
  font-size: 24px;
  margin: 0 0 0 20px;
  display: block;
  pointer-events: none;
}
.contact-form .row input[type=submit] {
  border: 5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  color: black;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 45px;
  transition: all 0.4s;
}
.contact-form .row input[type=submit]:hover {
  border: 5px solid rgb(255, 255, 255);
  color: #ffffff;
  transition: all 0.4s;
}
@media screen and (max-width: 900px) {
  .contact-form .contact-form {
    width: 90%;
  }
  .contact-form .row {
    flex-direction: column;
    margin-top: 20px;
  }
  .contact-form .left-column,
  .contact-form .right-column {
    flex: 0 0 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .contact-form .left-column:last-child,
  .contact-form .right-column:last-child {
    margin-bottom: 0;
  }
}

.project-card {
  background-color: rgba(252, 92, 17, 0.3);
  border-radius: 15px;
  margin: 80px;
  transition: all 0.3s ease-out;
  color: rgb(2, 252, 239);
}
.project-card .arrow-left,
.project-card .arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #007bff;
  cursor: pointer;
  z-index: 2;
  transition: color 0.3s;
}
.project-card .arrow-left:hover,
.project-card .arrow-right:hover {
  color: #0056b3;
}
.project-card .arrow-left {
  left: 20px;
}
.project-card .arrow-right {
  right: 20px;
}

.coverCard {
  width: 350px;
  height: 190px;
  border-radius: 15px;
}

.project-card.hovered {
  width: 360px;
  height: 360px;
  border: 2px solid #007bff;
}
.project-card.hovered img {
  width: 100%;
}

/* _ProjectModal.scss */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  z-index: 1001;
}

.close-button {
  display: flex;
  justify-content: end;
  align-items: baseline;
  position: relative;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background: none;
  z-index: 1001;
  left: 480px;
  bottom: 380px;
}

.project-links {
  margin-top: 20px;
}
.project-links a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #007bff;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card.hovered {
  width: 360px;
  height: 360px;
  border: 2px solid #007bff;
}
.project-card.hovered img {
  width: 100%;
}

.modal {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.modalpicture {
  width: 100%;
  height: 100%;
}

.project-links {
  margin-top: 20px;
}
.project-links a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #007bff;
}

.my-timeline {
  width: 100%;
  color: #fff;
  padding: 30px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.my-timeline .month-marker {
  position: absolute;
  width: auto;
  height: auto;
  background-color: #fff;
  transition: height 0.3s;
}
.my-timeline .month-marker:hover {
  height: 20px;
}

.my-timeline .timeline-card {
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: #f5f5f5;
  border: 1px solid #fff;
  transition: all 0.3s;
}
.my-timeline .timeline-card:hover {
  width: 120px;
  height: 60px;
}
.my-timeline .timeline-card:nth-child(even) {
  top: -70px;
}

@media (max-width: 300px) {
  .my-timeline {
    width: 100%;
    padding: 30px 5px 30px 10px;
  }
  .my-timeline .timeline-card .content h3 {
    color: #34ace0;
    font-size: 15px;
  }
}
.project-timeline {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow: hidden;
  align-items: flex-start;
}

.project-timeline-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%; /* Pour une disposition en quinconce, utilisation 50% de la largeur */
}

.even {
  margin-bottom: 10%;
  /* Décalage pour les éléments pairs */
}

.odd {
  margin-top: 10%; /* Décalage pour les éléments impairs */
}

.project-month {
  display: flex;
  justify-content: flex-start;
  color: aqua;
  text-shadow: 1px 1px 1px #fac123;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 2px;
  white-space: nowrap;
}

.scroll-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.fa-arrow-left,
.fa-arrow-right {
  font-size: 80px;
  color: rgb(0, 119, 255);
  position: relative;
  top: 475px;
  z-index: 2;
  opacity: 0.5;
  margin: 8px;
}
.fa-arrow-left:hover,
.fa-arrow-right:hover {
  opacity: 1;
}

.banner-container {
  display: flex;
  color: #FFFFFF;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background-color: #000;
  opacity: 0.7;
  border-radius: 15px;
}
.banner-container:hover {
  opacity: 1;
}
.banner-container div p {
  margin: 0;
}
.banner-container div i {
  color: #FFFFFF;
  position: relative;
  z-index: 2;
  font-size: 100px;
}

.right-side {
  color: #FFFFFF;
}

button {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

button img {
  height: auto;
  background-image: transparent;
  background: transparent;
  margin-right: 5px;
}

button.english {
  color: #007bff;
}

button.french {
  color: #ff0000;
}

body {
  margin: 0;
  padding: 0;
}

.app-container {
  transition: background-image 0.5s ease;
}

.rotate {
  animation: rotateAnimation 0.3s ease-in-out;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.custom-cursor {
  position: fixed;
  pointer-events: none;
  transition: transform 0.3s ease;
}

.custom-cursor.clicked {
  transform: rotate(360deg);
}

#custom-cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.languageselector {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 60px;
  z-index: 0;
  width: 100px;
  height: 150px;
  gap: 2px;
}
.languageselector img {
  width: 100px;
  height: 70px;
  border-radius: 15%;
  border: 0.5px solid #ffffff;
}

.left-side {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.left-side .english.selected,
.left-side .french.selected {
  transform: translateX(25%);
  transition: all 0.3s ease;
}

.ProfileImage {
  position: relative;
  z-index: 2;
  border-radius: 25%;
  width: 125px;
  height: 150px;
  border: 1px solid black;
}

h1 {
  color: antiquewhite;
  text-shadow: 1px 1px 1px #fac123;
  letter-spacing: 2px;
}

a {
  gap: 10px;
  margin: 5px;
  text-decoration: none;
  color: aqua;
  text-shadow: 1px 1px 1px #fac123;
}

main {
  display: flex;
  flex-direction: column;
  height: auto;
}

.project-card.hovered {
  height: auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content h1 {
  margin-bottom: 20px;
}
.main-content .main-project {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .main-content .main-project {
    flex-direction: column;
  }
}
.main-content .main-project .project-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: antiquewhite;
  margin: 10px;
  background-color: rgba(255, 184, 93, 0.3);
  border-radius: 15px;
}
.main-content .main-project .project-card:hover {
  transform: scale(1.05);
}
.main-content .main-project .project-card img {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
}
@media (max-width: 1200px) {
  .main-content .main-project .project-card img {
    width: 100%;
  }
}
.main-content .main-project .project-card .project-details {
  margin: 20px;
}

.toggle {
  position: relative;
  width: 80px;
  height: 40px;
  background-color: #ccc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 2px;
  cursor: pointer;
}

.toggle button {
  width: 36px;
  height: 36px;
  background-color: #025afd;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.toggle.active button {
  transform: translateX(40px);
  background-color: rgb(27, 158, 1);
}

.PositionToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 2;
}

.ToggleNameOne {
  color: #025afd;
  font-weight: bold;
}

.ToggleNameTwo {
  color: rgb(27, 158, 1);
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */