@charset "UTF-8";
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style des sections du footer */
.footer-section {
  flex-grow: 1;
  padding: 10px;
}

/* Barre droite entre les sections */
.separator {
  height: 30px;
  width: 1px;
  background-color: #000; /* Couleur de la barre droite */
  margin: 0 10px;
}

/* Responsive design : Deux colonnes sur grand écran */
@media (min-width: 768px) {
  .footer-section {
    width: 48%; /* Deux colonnes */
  }
}
/* Responsive design : Une colonne sur mobile */
@media (max-width: 767px) {
  .footer-section {
    width: 100%; /* Une colonne */
    margin-bottom: 10px; /* Espace entre les sections sur mobile */
  }
}
.contact-form {
  display: flex;
  justify-content: space-between;
}
.contact-form .left-column,
.contact-form .right-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .contact-form {
    flex-direction: column;
  }
  .contact-form .left-column,
  .contact-form .right-column {
    margin-right: 0;
  }
}

/* ProjectCard.css */
.project-card {
  width: 200px;
  height: 100px;
  border: 1px solid #ccc;
  margin: 10px;
  transition: all 0.3s ease-out;
}

.project-card img {
  width: 100%;
  height: 100%;
}

.project-card.hovered {
  width: 300px;
  height: 150px;
  border: 2px solid #007bff; /* Couleur de la bordure au survol */
}

/* Timeline Container */
.my-timeline {
  width: 100%;
  color: #fff;
  padding: 30px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.my-timeline .month-marker {
  position: absolute;
  width: auto;
  height: auto;
  background-color: #fff;
  transition: height 0.3s;
}
.my-timeline .month-marker:hover {
  height: 20px;
}

.my-timeline .timeline-card {
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: #f5f5f5;
  border: 1px solid #fff;
  transition: all 0.3s;
}
.my-timeline .timeline-card:hover {
  width: 120px;
  height: 60px;
}
.my-timeline .timeline-card:nth-child(even) {
  top: -70px;
}

/* Additional styles as needed */
@media (max-width: 300px) {
  .my-timeline {
    width: 100%;
    padding: 30px 5px 30px 10px;
  }
  .my-timeline .timeline-card .content h3 {
    color: #34ace0;
    font-size: 15px;
  }
}
.project-timeline {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow: scroll;
  align-items: flex-start; /* Aligner les éléments en haut */
}

.project-timeline-item {
  position: relative;
  width: 15%; /* Pour une disposition en quinconce, utilisez 50% de la largeur */
}

.even {
  margin-top: 20%; /* Décalage pour les éléments pairs */
}

.odd {
  margin-bottom: 20%; /* Décalage pour les éléments impairs */
}

.project-month {
  position: absolute;
  left: -30px; /* Ajustez la position verticale en fonction de vos préférences */
  bottom: 50%; /* Aligner le mois au milieu de l'élément parent */
  transform: translateX(-50%); /* Ajuster la position horizontale au centre */
  background-color: #fff; /* Fond blanc pour couvrir la ligne directrice */
  padding: 5px; /* Espacement autour du mois */
}

.project-card {
  width: 100%;
}

.banner-container {
  display: flex;
  color: #FFFFFF;
  justify-content: space-between;
  padding: 20px;
}
.banner-container div p {
  margin: 0;
}

.right-side {
  color: #FFFFFF;
}

/* Your SCSS file */
button {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 5px; /* Adjust the margin as needed */
}

button img {
  max-width: 30px; /* Set your desired max width for the flag thumbnail */
  height: auto;
  background-image: transparent;
  background: transparent;
  margin-right: 5px; /* Optional: Add some space between the image and text */
}

/* Specific styling for English button */
button.english {
  color: #007bff; /* Customize the text color for the English button */
}

/* Specific styling for French button */
button.french {
  color: #ff0000; /* Customize the text color for the French button */
}

/* Add more styling as needed */
body {
  margin: 0;
  padding: 0;
}

.app-container {
  transition: background-image 0.5s ease;
}

.rotate {
  animation: rotateAnimation 0.3s ease-in-out;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.custom-cursor {
  position: fixed;
  pointer-events: none;
  transition: transform 0.3s ease;
  /* Ajoutez d'autres styles de votre choix, par exemple, taille, couleur, etc. */
}

.custom-cursor.clicked {
  transform: rotate(360deg);
}

#custom-cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none; /* Assurez-vous que le curseur n'interfère pas avec les éléments interactifs */
  z-index: 1000;
}

.left-side {
  display: flex;
  align-items: center;
}
.left-side img {
  max-width: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.navbar {
  display: flex;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content h1 {
  margin-bottom: 20px;
}
.main-content .main-project {
  display: flex;
  gap: 10px;
}
@media (max-width: 767px) {
  .main-content .main-project {
    flex-direction: column;
  }
}
.main-content .main-project .project-card {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .main-content .main-project .project-card {
    width: 100%;
  }
}
.main-content .main-project .project-card:hover {
  transform: scale(1.05);
}
.main-content .main-project .project-card img {
  max-width: 100%;
}
.main-content .main-project .project-card .project-details {
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */