

.banner-container {
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    padding: 20px;
  
    
      div {
        p {
          margin: 0;
        }
      }
    }
  
    .right-side {
      color: #FFFFFF;
    }
  
  