.left-side {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative; /* Ajout de la position relative pour positionner les drapeaux par rapport à cet élément parent */
  img {
    max-width: 100px; 
    border-radius: 50%;
    margin-right: 20px;
  }
}

.left-side .english,
.left-side .french {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease; /* Ajout d'une transition pour un effet fluide */
}


.left-side .english.selected {
  left: 10px; /* Ajustez la position lorsque l'anglais est sélectionné */
}

.left-side .french.selected {
  left: 10px; /* Ajustez la position lorsque le français est sélectionné */
}