/* Styles de base pour les écrans de bureau et tablettes */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.languageselector {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 60px;
  z-index: 0;
  width: 100px;
  height: 150px;
  gap: 2px;

  img {
    width: 100px;
    height: 70px;
    border-radius: 15%;
    border: 0.5px solid #ffffff;
  }
}

.left-side {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.left-side .english.selected,
.left-side .french.selected {
  transform: translateX(25%);
  transition: all 0.3s ease;
}

.ProfileImage {
  position: relative;
  z-index: 2;
  border-radius: 25%;
  width: 125px;
  height: 150px;
  border: 1px solid black;
}

h1 {
  color: antiquewhite;
  text-shadow: 1px 1px 1px #fac123;
  letter-spacing: 2px;
  font-size: 80px;
}

a {
  gap: 10px;
  margin: 5px 15px 5px 5px;
  text-decoration: none;
  color: aqua;
  text-shadow: 1px 1px 1px #fac123;
  font-size: 30px;
  &:hover {
    text-decoration: underline;
  }
}

.right-side {
  display: flex;
  flex-direction: column;
}

/* Media query pour les tablettes */
@media only screen and (max-width: 1024px) {
  
  .right-side {
    display: flex;
    flex-direction:column;
  }
  h1{
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .languageselector {
    width: 100%;
  }

  .left-side {
    margin: 10px 0;
    justify-content: center;
  }

  .right-side {
    display: flex;
    flex-direction: row; /* Ajout d'une colonne pour le format mobile */
  }
  h1{
    font-size:50px;
    flex-wrap: wrap;
  }
}
