// PageLoader.scss
.page-loader-container {
  position: fixed;
  
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.95);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  z-index: 9999;

  .loader {
    display: inline-block;
    position: relative;
    width: 270px; // Ajustez la taille totale du cercle selon vos besoins
    height: 270px; // Ajustez la taille totale du cercle selon vos besoins
    border-radius: 50%; // Assurez-vous que le conteneur a une forme de cercle
    animation: rotateCircle 3s linear infinite; // Ajout de l'animation de rotation au cercle
  }

  .icon {
    font-size: 65px; // Ajustez la taille de l'icône selon vos besoins
    color: #fff; // Couleur initiale blanche pour les icônes périphériques
    position: absolute;
    top: 50%;
    left: 50%;
    
    animation: fill 3s linear infinite;
  }

  .center-icon {
    font-size: 150px; // Ajustez la taille de l'icône centrale selon vos besoins
    color: #fff; // Couleur initiale blanche pour l'icône centrale
    position: relative;
    top:27.5%;
    left: 27.5%;
    
    animation: fill 3s linear infinite;
  }

  @keyframes fill {
    0% {
      color: #fff; // Les icônes périphériques sont blanches au début
    }
    50% {
      color: #76ccfd;
    }
    100% {
      color: #0fa7ff; // Couleur finale pour le remplissage (par exemple, vert)
    }
  }

  @keyframes fillCenter {
    0% {
      color: #fff; // Les icônes périphériques sont blanches au début
    }
    50% {
      color: #76ccfd;
    }
    100% {
      color: #0fa7ff; // Couleur finale pour le remplissage (par exemple, vert)
    }
  }

  @keyframes rotateCircle {
    100% {
      transform: rotate(360deg); // Rotation complète sur 360 degrés
    }
  }
 
}
@media only screen and (max-width: 1024px) {
  .page-loader-container {
    font-size: 12px; // Ajustez la taille de la police pour les écrans de tablette
  }

  .loader {
    width: 100px; // Ajustement pour les écrans de tablette
    height: 100px; // Ajustement pour les écrans de tablette
  }

  .icon {
    font-size: 20px; // Ajustement pour les écrans de tablette
  }

  .center-icon {
    font-size: 50px; // Ajustement pour les écrans de tablette
  }
}