
.project-card {
    width: 200px;
    height: 100px;
    border: 1px solid #ccc;
    margin: 10px;
    transition: all 0.3s ease-out;
  }
.project-card img {
  width:100%;
  height: 100%
}
  .project-card.hovered {
    width: 300px;
    height: 150px;
    border: 2px solid #007bff; /* Couleur de la bordure au survol */
  }
  