
.project-card {
  background-color: rgba(252, 92, 17, 0.3);
  border-radius: 5px;
    margin: 70px;
    transition: all 0.3s ease-out;
    color: rgb(2, 252, 239);
  }
.project-card img {
  width:340px;
  height: 340px;
 
}
  .project-card.hovered {
    width: 360px;
    height: 360px;
    border: 2px solid #007bff; /* Couleur de la bordure au survol */
    & img {
      width:100%;
    }
  }
  