/* Timeline Container */
.my-timeline {
  width: 100%;
 
  color: #fff;
  padding: 30px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.my-timeline .month-marker {
  position: absolute;
  width: auto;
  height: auto;
  background-color: #fff;
  transition: height 0.3s;

  &:hover {
    height: 20px;
  }
}

.my-timeline .timeline-card {
  position: absolute;
  width: 100px;
  height: 50px;
  background-color: #f5f5f5;
  border: 1px solid #fff;
  transition: all 0.3s;

  &:hover {
    width: 120px;
    height: 60px;
  }

  &:nth-child(even) {
    top: -70px;
  }
}

/* Additional styles as needed */

@media (max-width: 300px) {
  .my-timeline {
    width: 100%;
    padding: 30px 5px 30px 10px;
  }

  .my-timeline .timeline-card .content h3 {
    color: #34ace0;
    font-size: 15px;
  }
}
.project-timeline {
  display: flex;
  
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  align-items: flex-start; /* Aligner les éléments en haut */
}

.project-timeline-item {
  position: relative;
  
  width: 50%;
  height: 50%; /* Pour une disposition en quinconce, utilisez 50% de la largeur */
}

.even {
  margin-top: 10%; /* Décalage pour les éléments pairs */
}

.odd {
  margin-bottom: 10%; /* Décalage pour les éléments impairs */
}

.project-month {
  position: absolute;
  left: -30px; /* Ajustez la position verticale en fonction de vos préférences */
  bottom: 50%; /* Aligner le mois au milieu de l'élément parent */
  transform: translateX(-50%); /* Ajuster la position horizontale au centre */
  background-color: #fff; /* Fond blanc pour couvrir la ligne directrice */
  padding: 5px; /* Espacement autour du mois */
}

.project-card {
width : 100%;
}
