
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background:#FFFFFF;
    
  }
  
 
  .footer-section {
    flex-grow: 1;
    padding: 10px; 
  }
  
  /* Barre droite entre les sections */
  .separator {
    height: 30px;
    width: 1px;
    background-color: #000; 
    margin: 0 10px; 
  }
  
  /* Responsive design : Deux colonnes sur grand écran */
  @media (min-width: 768px) {
    .footer-section {
      width: 48%; 
    }
  }
  
  /* Responsive design : Une colonne sur mobile */
  @media (max-width: 767px) {
    .footer-section {
      width: 100%;
      margin-bottom: 10px; /* Espace entre les sections sur mobile */
    }
  }
  