.toggle {
    position: relative;
    width: 80px;
    height: 40px;
    background-color: #ccc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
  }
  
  .toggle button {
    width: 36px;
    height: 36px;
    background-color: #4d02fd;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.5s ease;
  }
  
  .toggle.active button {
    transform: translateX(40px);
    background-color: rgb(27, 158, 1);
  }
  .PositionToggle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    margin-bottom: 20px;
  }
  .ToggleNameOne {
    color: #4d02fd;
    font-size: 25px;
    font-weight: bold;
  }
  .ToggleNameTwo {
    color: rgb(27, 158, 1);
    font-size: 25px;
    font-weight: bold;
  }